body{
    background-color: #FFB715;
}
h1{
    text-align: center;
    color: #FFB715;
    font-family: pantelleria, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
    margin:0px;
}
.container{
display:grid;
justify-content: center;
align-items: center;
background-color: red;
margin: 0 auto;
border-radius: 1rem;
border: 6px solid transparent;
padding-top:40px;
padding-bottom:80px;
margin: 60px
}
.grid-container {
display: grid;
justify-content: center;
height: 40vw;
width: 40vw;
margin: 0 auto;
background-color:  #C3D9C4;
}
.grid-item {
background-color: #C3D9C4;
border: 0px solid rgba(0, 0, 0, 0.5);
text-align: center;
padding:0px;
}
.btn{
    color: white;
    background-color: #FFB715;
    border-radius: 2.5rem;
    border: 2px solid transparent;
    padding: .375rem .75rem;
    font-size: 2rem;
    margin: 5px;
}
.btn:hover{
    color: #FFB715;
    background-color:white;
}


@media (max-width: 800px) {
    .grid-container {
        height: 70vw;
        width: 70vw;
        padding:60px;
        padding-bottom: 10px;
    }
    .container{
        margin:0px;
    }
    .btn{
    margin-top: 10px;
       margin-left: 40px; 
       margin-right: 40px; 
    }
}
